In [13]:
import pandas as pd
import numpy as np
import scipy 
from scipy import stats

In [14]:
cslin = pd.read_pickle("~/compressed_sensingv1/realdatasets/starch-sanchez-v5/SS-l1-cs.pkl")
cslin

         wh       lin
0  0.465206  0.446689
1  0.476713  0.476713
2  0.691205  0.659701
3  0.583562  0.584346
4  0.496839  0.430332
5  0.729629  0.684317

In [15]:
rfbest = pd.read_pickle("~/compressed_sensingv1/realdatasets/BENCHMARKING/RANDOM FOREST/Starch-Sanchez-REL/SS-per-RF.pkl")

In [16]:
glvdf = pd.read_pickle("~/compressed_sensingv1/realdatasets/BENCHMARKING/gLV/SS-gLV/glv-per-SS.pkl")

In [19]:
cslin["rf"] = rfbest["nnseagg"].values
cslin["gLV"] = glvdf["nnse"].values

In [20]:
cslin.to_pickle("SS-allmethodsNNSE.pkl")

In [21]:
cslin

         wh       lin        rf       gLV
0  0.465206  0.446689  0.472148  0.270953
1  0.476713  0.476713  0.478077  0.868192
2  0.691205  0.659701  0.670191  0.648905
3  0.583562  0.584346  0.572237  0.256138
4  0.496839  0.430332  0.455349  0.186615
5  0.729629  0.684317  0.730749  0.314503