In [91]:
import pandas as pd
import numpy as np
import seaborn as sns

In [92]:
import scipy as sp

In [125]:
cvchoose = 10

In [126]:
r1 = pd.read_pickle("WH_OV_functions.pkl")
wh = r1[r1[0]==cvchoose]
wh

     0          1         2         3         4  5
3   10   butyrate  0.850405  0.004970   6.30957  2
7   10    acetate  0.561097  0.024259  20.00000  3
11  10    lactate  0.784109  0.004940   7.00000  1
15  10  succinate  0.824445  0.005320   6.30957  2

In [127]:
r2 = pd.read_pickle("l1_OV_functions.pkl")
l1 =  r2[r2[0]==cvchoose]
l1

     0          1         2         3         4  5
3   10   butyrate  0.832181  0.006277   6.30957  1
7   10    acetate  0.550042  0.016939  20.00000  3
11  10    lactate  0.759782  0.003459   7.00000  2
15  10  succinate  0.803097  0.007151   6.30957  2

In [128]:
r3 = pd.read_pickle("RF-OVfunctionsavg.pkl")

In [129]:
rf = r3[r3[0]==cvchoose]

In [130]:
wh["l1"] = l1[2].values
wh["l1std"] = l1[3].values
wh["rf"] = rf[2].values
wh["rfstd"] = rf[3].values

/tmp/ipykernel_838333/2455551138.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wh["l1"] = l1[2].values
/tmp/ipykernel_838333/2455551138.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wh["l1std"] = l1[3].values
/tmp/ipykernel_838333/2455551138.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wh["rf"] = rf[2].values
/tmp/ipykernel_838333/2455551138.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wh["rfstd"] = rf[3].values

In [131]:
pd.to_pickle(wh,"10cv_nnse.pkl")

In [132]:
pd.read_pickle("10cv_nnse.pkl")

,0,1,2,3,4,5,l1,l1std,rf,rfstd
3,10,butyrate,0.850405,0.004970,6.30957,2,0.832181,0.006277,0.831327,0.004412
7,10,acetate,0.561097,0.024259,20.00000,3,0.550042,0.016939,0.545946,0.008934
11,10,lactate,0.784109,0.004940,7.00000,1,0.759782,0.003459,0.752763,0.004914
15,10,succinate,0.824445,0.005320,6.30957,2,0.803097,0.007151,0.815864,0.005366