In [1]:
import pandas as pd
import numpy as np
import random

import warnings
warnings.filterwarnings("ignore")


import seaborn as sns

table = pd.read_pickle("~/compressed_sensingv1/realdatasets/misc/Friedman-v3/A8.pkl")

tableg = table.T
B = pd.read_pickle("~/compressed_sensingv1/realdatasets/misc/Friedman-v3/B8.pkl")

Bdf = pd.DataFrame(B)

species_ones = [] 
for i in range(8):
    species = i
    species_ones.append(list(tableg[tableg[species]==1].index))
    
    
species_zeros = []
for i in range(8):
    species = i
    species_zeros.append(list(tableg[tableg[species]==0].index))                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       


laml = [1e-20,1e-10,1e-5,.01,.02,.03,.04,.05,.06,.0650,.0675,.07,0.08,0.1,0.13,0.15,0.18,0.2,0.5,1.0,2.0,3.0,5.0,10.0,20.0,50.0,100.0]
from sklearn.metrics import r2_score


from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_percentage_error as mape

from scipy import stats

In [2]:
list_present  = pd.read_pickle("~/compressed_sensingv1/realdatasets/misc/Friedman-v3/list-present-friedman.pkl")
sst_rel = pd.read_pickle("~/compressed_sensingv1/realdatasets/misc/Friedman-v3/Friedman-data-sst-relv2.pkl")

In [3]:
sp_list_provided = ["Ea","Pa","Pch","Pci","Pf","Pp","Pv","Sm"] 
sst_rel2 = sst_rel.rename(columns={"Sm":0,"Pv":1,"Pp":2,"Pf":3,"Pci":4,"Pch":5,"Pa":6,"Ea":7})
sstv3 = sst_rel2[[0,1,2,3,4,5,6,7,"well index"]]

In [4]:
sstv4 = sstv3.fillna(0)

In [5]:
sstv4.head(3)

     0    1    2    3    4    5    6    7  well index
0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0           0
1  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0           1
2  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0           2

In [6]:
n = 2**7
random_state = 78
cv_splitsl = [3,5]

In [7]:
to_be_removed = {73,164,193}
list_presentv2 = [item for item in list_present if item not in to_be_removed ]

In [8]:
errdf = pd.read_pickle("CS-rel-WH.pkl")
errlindf = pd.read_pickle("CS-rel-sigma.pkl")

In [16]:
errdf

,0,1,2,3,4,5
0,1.000000e-20,0,"[1.1597951430059514e+118, 0.0, 0.0, 0.0, 0.0, ...","[0, 9, 5, 8, 24, 123, 34, 10, 18, 12, 72, 2]","[125, 32, 68, 111, 33, 119, 96, 64, 20, 6, 17,...",3
1,1.000000e-20,0,"[0.0, 0.260123432636729, 0.2191545805102607, 0...","[125, 32, 68, 111, 33, 119, 96, 64, 20, 6, 17, 4]","[0, 9, 5, 8, 24, 123, 34, 10, 18, 12, 72, 2, 6...",3
2,1.000000e-20,0,"[0.0, 0.0, 0.0, 2.861785208238097e+131, 0.0, 0...","[63, 40, 66, 127, 126, 16, 3, 95, 1, 80, 48]","[0, 9, 5, 8, 24, 123, 34, 10, 18, 12, 72, 2, 1...",3
3,1.000000e-10,0,"[0.5776886491175913, 0.0035677380009272452, 0....","[0, 9, 5, 8, 24, 123, 34, 10, 18, 12, 72, 2]","[125, 32, 68, 111, 33, 119, 96, 64, 20, 6, 17,...",3
4,1.000000e-10,0,"[0.0, 0.43848840839216985, 0.35297428459739233...","[125, 32, 68, 111, 33, 119, 96, 64, 20, 6, 17, 4]","[0, 9, 5, 8, 24, 123, 34, 10, 18, 12, 72, 2, 6...",3
...,...,...,...,...,...,...
1723,1.000000e+02,7,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[34, 123, 17, 64, 0, 9, 8]","[5, 18, 126, 10, 65, 16, 1, 125, 119, 68, 4, 1...",5
1724,1.000000e+02,7,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[5, 18, 126, 10, 65, 16, 1]","[34, 123, 17, 64, 0, 9, 8, 125, 119, 68, 4, 11...",5
1725,1.000000e+02,7,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[125, 119, 68, 4, 111, 6, 63]","[34, 123, 17, 64, 0, 9, 8, 5, 18, 126, 10, 65,...",5
1726,1.000000e+02,7,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[48, 24, 33, 12, 20, 72, 80]","[34, 123, 17, 64, 0, 9, 8, 5, 18, 126, 10, 65,...",5
1727,1.000000e+02,7,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[32, 2, 95, 127, 66, 40, 3]","[34, 123, 17, 64, 0, 9, 8, 5, 18, 126, 10, 65,...",5

In [23]:
crossval = [] 
for m in cv_splitsl[:1]:
    samp = errdf[errdf[5]==m]
    for speciesc in range(7,8):
        bspecies = Bdf.T[species_ones[speciesc]].T
        bspecies["index all"] = bspecies.index
        bspecies.index = np.arange(0,2**7,1)
        abunvec = pd.DataFrame(sstv4[speciesc].values).T[species_ones[speciesc]].T
        abunvec.index = np.arange(0,2**7,1)
        listl = list(abunvec.T[list(bspecies[bspecies["index all"].isin(list_presentv2)].index)].T.index)
        sp1 = samp[samp[1]==speciesc]
        for rhola in laml:
            rho1 = sp1[sp1[0]==rhola]
            r2 = [] 
            yallbest  = []
            yallact  = [] 
            for iterii in range(m):
                idx = rho1[3].iloc[iterii]
                yact = abunvec.T[idx].T[0].values.astype(float)
                ybest = rho1[2].iloc[iterii]
                ybestdf1 = pd.DataFrame(ybest)
                ybestdf1[ybestdf1[0]<1e-10]=0
                yallbest.append(ybestdf1[0].values)
                yallact.append(yact)
                slope, intercept,r_value, p_value, std_err = stats.linregress(yact,ybestdf1[0].values)
                rval = r2_score(yact,ybestdf1[0].values)
                gop = 1/(2-rval)
                mape1 = mape(yact,ybestdf1[0].values)
                r2.append([gop,rval,mape1,slope,intercept,r_value**2])
            r2df = pd.DataFrame(r2)
            if m == 2:
                ybestagg = [*yallbest[0],*yallbest[1]]
                yactagg = [*yallact[0],*yallact[1]]
            if m == 3:
                ybestagg = [*yallbest[0],*yallbest[1],*yallbest[2]]
                yactagg = [*yallact[0],*yallact[1],*yallact[2]]
            if m == 5:
                ybestagg = [*yallbest[0],*yallbest[1],*yallbest[2],*yallbest[3],*yallbest[4]]
                yactagg = [*yallact[0],*yallact[1],*yallact[2],*yallact[3],*yallact[4]]
            if m == 7:
                ybestagg = [*yallbest[0],*yallbest[1],*yallbest[2],*yallbest[3],*yallbest[4],*yallbest[5],*yallbest[6]]
                yactagg = [*yallact[0],*yallact[1],*yallact[2],*yallact[3],*yallact[4],*yallact[5],*yallact[6]]
            if m == 9:
                ybestagg = [*yallbest[0],*yallbest[1],*yallbest[2],*yallbest[3],*yallbest[4],*yallbest[5],*yallbest[6],*yallbest[7],*yallbest[8]]
                yactagg = [*yallact[0],*yallact[1],*yallact[2],*yallact[3],*yallact[4],*yallact[5],*yallact[6],*yallact[7],*yallact[8]]
            slope, intercept,r_value, p_value, std_err = stats.linregress(yactagg,ybestagg)
            rval2 = r2_score(yactagg,ybestagg)
            gop2 = 1/(2-rval2)
            mean1 = r2df.mean().values[0]
            mean2 = r2df.mean().values[1]
            mean3 = r2df.mean().values[2]
            mean4 = r2df.mean().values[3]
            mean5 = r2df.mean().values[4]
            mean6 = r2df.mean().values[5]
            mape2 = mape(yactagg,ybestagg)
            crossval.append([m,speciesc,rhola,gop2,rval2,mape2,slope,intercept,r_value**2,"break",mean1,mean2,mean3,mean4,mean5,mean6,yactagg,ybestagg])

In [24]:
yactagg

[0.02617932418864133,
 0.3418953130995167,
 0.47081339712918646,
 0.04779342723004702,
 0.6914893617021269,
 0.019549045435823323,
 0.02179176755444166,
 0.0015698587127119326,
 0.123381824651878,
 0.18534613623056112,
 0.2399509803921567,
 0.0,
 0.062489411741257835,
 0.25231551792906187,
 0.03174603174606596,
 0.15736753873962922,
 0.4963519742674062,
 1.0,
 0.9962406015037595,
 0.3443910146291098,
 0.3496381217069077,
 0.326509778637438,
 0.47950346673393796,
 0.3071428571430117,
 0.34414136877745705,
 0.011383173408478301,
 0.39553642595249494,
 0.13029496592451403,
 0.38420454993032277,
 0.03863636363636371,
 0.26627911601493415,
 0.33543553873791226,
 0.08027900958940568,
 0.18010958950522382,
 0.30585847765414564]

In [18]:
crossdf = pd.DataFrame(crossval,columns=["k-fold","sp","lambda","nnseagg","r2agg","mapeagg","slagg","intagg","rlinagg","means on right","nnseavg","r2avg","mapeavg","slavg","intavg","rlinavg","testact","testpred"])

In [19]:
crossdf.head(2)

,k-fold,sp,lambda,nnseagg,r2agg,mapeagg,slagg,intagg,rlinagg,means on right,nnseavg,r2avg,mapeavg,slavg,intavg,rlinavg,testact,testpred
0,3,0,1.000000e-20,1.026970e-264,-9.737383e+263,2.698700e+146,-1.843152e+131,1.059119e+131,0.037234,break,0.237009,-2.952971e+264,2.862257e+146,-1.544050e+131,8.103632e+130,0.271835,"[1.0, 0.1312692082501378, 0.0, 0.6361513826937...","[1.1597951430059514e+118, 0.0, 0.0, 0.0, 0.0, ..."
1,3,0,1.000000e-10,6.809055e-01,5.313675e-01,5.078612e+11,7.021829e-01,8.251542e-02,0.568743,break,0.581148,2.188405e-01,4.937539e+11,9.628371e-01,6.947728e-02,0.677803,"[1.0, 0.1312692082501378, 0.0, 0.6361513826937...","[0.5776886491175913, 0.0035677380009272452, 0...."

In [ ]:
crossvalin = [] 
for m in cv_splitsl[:1]:
    samp = errlindf[errlindf[5]==m]
    for speciesc in range(8):
        bspecies = Bdf.T[species_ones[speciesc]].T
        bspecies["index all"] = bspecies.index
        bspecies.index = np.arange(0,2**7,1)
        abunvec = pd.DataFrame(sstv4[speciesc].values).T[species_ones[speciesc]].T
        abunvec.index = np.arange(0,2**7,1)
        listl = list(abunvec.T[list(bspecies[bspecies["index all"].isin(list_presentv2)].index)].T.index)
        sp1 = samp[samp[1]==speciesc]
        for rhola in laml:
            rho1 = sp1[sp1[0]==rhola]
            r2 = [] 
            yallbest  = []
            yallact  = [] 
            for iterii in range(m):
                idx = rho1[3].iloc[iterii]
                yact = abunvec.T[idx].T[0].values.astype(float)
                ybest = rho1[2].iloc[iterii]
                ybestdf1 = pd.DataFrame(ybest)
                ybestdf1[ybestdf1[0]<1e-10]=0
                yallbest.append(ybestdf1[0].values)
                yallact.append(yact)
                #slope, intercept,r_value, p_value, std_err = stats.linregress(yact,ybestdf1[0].values)
                rval = r2_score(yact,ybestdf1[0].values)
                gop = 1/(2-rval)
                mape1 = mape(yact,ybestdf1[0].values)
                r2.append([gop,rval,mape1,slope,intercept,r_value**2])
            r2df = pd.DataFrame(r2)
            if m == 2:
                ybestagg = [*yallbest[0],*yallbest[1]]
                yactagg = [*yallact[0],*yallact[1]]
            if m == 3:
                ybestagg = [*yallbest[0],*yallbest[1],*yallbest[2]]
                yactagg = [*yallact[0],*yallact[1],*yallact[2]]
            if m == 5:
                ybestagg = [*yallbest[0],*yallbest[1],*yallbest[2],*yallbest[3],*yallbest[4]]
                yactagg = [*yallact[0],*yallact[1],*yallact[2],*yallact[3],*yallact[4]]
            if m == 7:
                ybestagg = [*yallbest[0],*yallbest[1],*yallbest[2],*yallbest[3],*yallbest[4],*yallbest[5],*yallbest[6]]
                yactagg = [*yallact[0],*yallact[1],*yallact[2],*yallact[3],*yallact[4],*yallact[5],*yallact[6]]
            if m == 9:
                ybestagg = [*yallbest[0],*yallbest[1],*yallbest[2],*yallbest[3],*yallbest[4],*yallbest[5],*yallbest[6],*yallbest[7],*yallbest[8]]
                yactagg = [*yallact[0],*yallact[1],*yallact[2],*yallact[3],*yallact[4],*yallact[5],*yallact[6],*yallact[7],*yallact[8]]
            slope, intercept,r_value, p_value, std_err = stats.linregress(yactagg,ybestagg)
            rval2 = r2_score(yactagg,ybestagg)
            gop2 = 1/(2-rval2)
            mean1 = r2df.mean().values[0]
            mean2 = r2df.mean().values[1]
            mean3 = r2df.mean().values[2]
            mean4 = r2df.mean().values[3]
            mean5 = r2df.mean().values[4]
            mean6 = r2df.mean().values[5]
            mape2 = mape(yactagg,ybestagg)
            crossvalin.append([m,speciesc,rhola,gop2,rval2,mape2,slope,intercept,r_value**2,"break",mean1,mean2,mean3,mean4,mean5,mean6,yactagg,ybestagg])

In [13]:
crosslindf = pd.DataFrame(crossvalin,columns=["k-fold","sp","lambda","nnseagg","r2agg","mapeagg","slagg","intagg","rlinagg","means on right","nnseavg","r2avg","mapeavg","slavg","intavg","rlinavg","testact","testpred"])

In [14]:
crosslindf.head(2)

,k-fold,sp,lambda,nnseagg,r2agg,mapeagg,slagg,intagg,rlinagg,means on right,nnseavg,r2avg,mapeavg,slavg,intavg,rlinavg,testact,testpred
0,3,0,1.000000e-20,1.328420e-240,-7.527738e+239,1.157020e+134,-2.133725e+119,1.309350e+119,0.069798,break,0.225933,-2.282769e+240,1.226261e+134,0.000000e+00,0.000000e+00,0.000000,"[1.0, 0.1312692082501378, 0.0, 0.6361513826937...","[0.3918377005738958, 0.02468854597337755, 0.11..."
1,3,0,1.000000e-10,4.898582e-01,-4.140690e-02,1.757691e+13,6.744919e-01,1.619283e-01,0.358041,break,0.429647,-1.366753e+00,1.708866e+13,-2.133725e+119,1.309350e+119,0.069798,"[1.0, 0.1312692082501378, 0.0, 0.6361513826937...","[0.45831653388444976, 0.008321869355708889, 0...."

In [15]:
pd.to_pickle(crossdf,"WH-REL-analysis.pkl")
pd.to_pickle(crosslindf,"sigma-REL-analysis.pkl")

In [26]:
yactagg

[0.02617932418864133,
 0.3418953130995167,
 0.47081339712918646,
 0.04779342723004702,
 0.6914893617021269,
 0.019549045435823323,
 0.02179176755444166,
 0.0015698587127119326,
 0.123381824651878,
 0.18534613623056112,
 0.2399509803921567,
 0.0,
 0.062489411741257835,
 0.25231551792906187,
 0.03174603174606596,
 0.15736753873962922,
 0.4963519742674062,
 1.0,
 0.9962406015037595,
 0.3443910146291098,
 0.3496381217069077,
 0.326509778637438,
 0.47950346673393796,
 0.3071428571430117,
 0.34414136877745705,
 0.011383173408478301,
 0.39553642595249494,
 0.13029496592451403,
 0.38420454993032277,
 0.03863636363636371,
 0.26627911601493415,
 0.33543553873791226,
 0.08027900958940568,
 0.18010958950522382,
 0.30585847765414564]

In [27]:
species

7